.carousel-inner.upper {
    background: url(../../img/index/homepage-background.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 668px;
}

.carousel-caption {
    top: 150px;
}

.carousel-control {
    top: 200px;
}

.carousel-control.right, .carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control .fas {
    color: #FFFFFF;
    font-size: 32px;
}

.carousel-caption h4 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 400;
}

.carousel-caption p {
    font-size: 52px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}

.our-service-button {
    border-radius: 3px;
    background-color: rgb(61, 169, 218);
    width: 236px;
    height: 65px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 0.333;
    text-align: center;
    -moz-transform: matrix(1.18592964824121, 0, 0, 1.18181818181818, 0, 0);
    -webkit-transform: matrix(1.18592964824121, 0, 0, 1.18181818181818, 0, 0);
    -ms-transform: matrix(1.18592964824121, 0, 0, 1.18181818181818, 0, 0);
    border: 0px solid transparent;
}

.section-heading {
    font-size: 30px;
    color: rgb(51, 51, 51);
    line-height: 1;
    text-align: center;
    font-weight: 500;
}

.section-subheading {
    font-size: 18px;
    color: rgb(84, 84, 84);
    line-height: 1.667;
    text-align: center;
    font-weight: 500;
}

.circular-background {
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
    width: 101px;
    height: 101px;
    display: inline-block;
}

.circular-background img {
    top: 30%;
    position: relative;

}

.about-us-chunk p {
    font-size: 14px;
    color: rgb(145, 145, 145);
    line-height: 2.143;
    text-align: center;
    font-weight: 500;
}

.about-us-chunk-heading {
    font-size: 18px;
    color: rgb(47, 46, 46);
    line-height: 1.667;
    text-align: center;
    font-weight: 500;
}

.circular-background-secondary {
    border-radius: 50%;
    background-color: #27628a;
    width: 101px;
    height: 101px;
    display: inline-block;
}

.circular-background-secondary img {
    top: 30%;
    position: relative;
}

.circular-background-secondary:hover img {
    -webkit-animation: spin 1s linear 1;
    -moz-animation: spin 1s linear 1;
    animation: spin 1s linear 1;
}

.circular-background:hover img {
    -webkit-animation: spin 1s linear 1;
    -moz-animation: spin 1s linear 1;
    animation: spin 1s linear 1;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.service-section {
    background: url(../../img/index/background-service.png);
    background-position: center center;
    background-repeat: no-repeat;
    max-height: 539px;
}

.service-heading-style {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.667;
    text-align: center;
}

.service-text-style {
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.714;
    text-align: center;
    font-weight: 500;
}

.testimonial {
    margin: 20px 10px 0;
    position: relative;
}

.testimonial .pic {
    padding: 5px;
    position: absolute;
    top: 15px;
    left: -5px;
    z-index: 1;
    border-radius: 50%;
    /* background-color: rgb(255, 255, 255); */
}

.circular-image-path {
    border-radius: 50%;
    border: 5px solid #FFF;
    box-shadow: 0px 0px 19.2px 0.8px rgba(0, 0, 0, 0.2);
}

.description {
    padding: 30px 45px 30px 60px;
    margin-left: 45px;
    background-color: #FFFFFF;
    position: relative;
    font-size: 16px;
    color: rgb(86, 86, 86);
    line-height: 1.5;
    border-radius: 2px;
    box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.testimonial-content {
    margin: 15px 0 0 0px;
}

.title {
    display: block;
    margin-top: 2px;
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    text-align: left;
    color: #3c3c3c;
}

.post {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #3c3c3c;
}

.carousel.testimonial4_indicators .item .item-content:first-child .description {
    padding: 30px 45px 30px 60px;
    margin-left: 45px;
    background-color: #3da9da;
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1.5;
    border-radius: 2px;
    box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
}

.carousel.testimonial4_indicators .item .item-content:first-child .circular-image-path {
    border-radius: 50%;
    border: 5px solid #3da9da;
    box-shadow: 0px 0px 19.2px 0.8px rgba(0, 0, 0, 0.2);
}

.carousel.testimonial4_indicators .item .item-content:first-child .title {
    display: block;
    margin-top: 2px;
    font-size: 30px;
    font-weight: 600;
    color: #FFF;
    line-height: 1;
    text-align: left;
}

.carousel.testimonial4_indicators .item .item-content:first-child .post {
    display: block;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 500;
    line-height: 2;
    text-align: left;
    color: #FFF;
}

.partner-1 {
    background: url("../../img/index/partner-1-20180417.png");
    height: 98px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partners:hover .partner-1 {
    background: url("../../img/index/partner-1-white-20180417.png");
    height: 98px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partner-2 {
    background: url("../../img/index/partner-2-20180417.png");
    height: 83px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partners:hover .partner-2 {
    background: url("../../img/index/partner-2-white-20180417.png");
    height: 86px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partner-3 {
    background: url("../../img/index/partner-3-20180417.png");
    height: 79px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partners:hover .partner-3 {
    background: url("../../img/index/partner-3-white-20180417.png");
    height: 79px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partner-4 {
    background: url("../../img/index/partner-4-20180417.png");
    height: 92px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partners:hover .partner-4 {
    background: url("../../img/index/partner-4-white-20180417.png");
    height: 87px;
    width: 100px;
    display: inline-block;
    background-repeat: no-repeat;
}

.partners:hover {
    background-color: #27628a;
}

.partners {
    background-color: rgb(255, 255, 255);
}